<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- properties type -->
	<context:property-placeholder location="classpath:jdbcConfig/jdbc.properties"/>
	
	<bean id="hikariConfigWar" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="${jdbcHikari.driverClassName}"/>
		<property name="jdbcUrl" value="${jdbcHikari.jdbcUrl}"/>
		<property name="username" value="${jdbcHikari.username}"/>
		<property name="password" value="${jdbcHikari.password}"/>
	</bean>
	
	<bean id="hikariConfigDev" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
		<property name="jdbcUrl" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="SHOECO" /> 
		<property name="password" value="SHOECO" /> 
	</bean>


	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfigDev" /> 
	</bean>
		
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" >
			<list>
				<value>classpath:com/shoeco/shoeco/common/mapper/SCMemberMapper.xml</value> <!-- 2308091518 장유정 추가 -->
				<value>classpath:com/shoeco/shoeco/common/mapper/SCBrandMapper.xml</value> <!-- 2308181543 장유정 추가 -->
			</list>
		</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<mybatis-spring:scan base-package="com.shoeco.shoeco" template-ref="sqlSession"/>

	<!-- 스프링 트랜잭션 기능 활성화 -->
	<tx:annotation-driven transaction-manager="transactionManagerTravel"/>
	
	<!-- Spring Transaction 관리자 빈(dataSource빈을 주입받음) -->
	<bean id="transactionManagerTravel" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>
