<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCDetailMapper">

	
	<!--1 상품코드 당 옵션  -->
	<select id="selectOption">
	   SELECT prodOptionNo, prodCode, prodSize, Color, prodCount FROM SC_PRODUCTS_OPTION
	   WHERE prodCode = #{prodCode} 
	</select>














</mapper>