<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCDetailMapper">

	
	<!--1 상품코드 당 옵션  -->
	<select id="selectOption">
	   SELECT prodOptionNo, prodCode, prodSize, Color, prodCount FROM SC_PRODUCTS_OPTION
	   WHERE prodCode = #{prodCode} 
	</select>
	
	<!--1 상품코드 당 색상 -->
	<select id="selectColor">
	   SELECT distinct color FROM SC_PRODUCTS_OPTION
	   WHERE prodCode = #{prodCode} 
	</select>
	
	<!--1 상품코드 당 색상 -->
	<select id="selectSize">
	   SELECT distinct prodSize FROM SC_PRODUCTS_OPTION
	   WHERE prodCode = #{prodCode} 
	</select>
	
	<!--1 색상 당 사이즈 // detail에서 특정 컬러의 재고 파악을 위해 -->
	<select id="selectSizePerColor">
	   SELECT prodCode, color, prodSize, prodCount FROM SC_PRODUCTS_OPTION
	   WHERE prodCode = #{prodCode} AND color = #{color} 
	</select>
	
	<!--2 상품코드 당 상품정보 + 브랜드정보  -->	
	<select id="selectProduct">
	   SELECT a.PRODCODE, a.BRANDCODE, a.PRODNAME, a.GENDER, a.SELLPRICE, a.CATEGORY, a.MATERIAL, a.COUNTRY, 
	   b.brandName,b.businessNo,b.managerName,b.brandPhoneNo,b.brandEmail FROM SC_PRODUCTS a JOIN SC_BRAND b ON (a.brandCode = b.brandCode)
	   WHERE prodCode = #{prodCode} 
	</select>
	
	














</mapper>