<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCListMapper">

<!-- 230808 세연 / 배너 눌렀을때 리스트랑 사진 나오는것 (카테고리별 분류) -->
<!--  	<select id="selectCategoryList">
	SELECT a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.category, a.material, a.country,
	   	   b.prodUploadPath, b.prodFileType FROM SC_PRODUCTS a JOIN SC_PRODUCTS_ATTACHMENTS b ON (a.prodCode = b.prodCode) 
	   	   WHERE a.category = #{category}   
	</select>
 --> 

<!-- 1 성별에 따른 카테고리 where gender 추가하고 나중에 jsp 브랜드별로 따로만듬  -->

<!-- 230810 아직 미완성: 카테고리, 검색어, 페이징 고려 mapper-->
	<select id="selectCategoryList"> <!-- 230814 칼럼 전부 안넣고 일부만 우선 확인 -->
			  
			  	SELECT b.*  FROM
			  (SELECT a.*, rowNum As rn   	 
					FROM (SELECT distinct prodCode, prodName, sellPrice 
		             			FROM 
								             (SELECT  a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.material, a.country, 
								             		   b.prodSize,b.color, b.prodCount from sc_products a JOIN sc_products_option b ON(a.prodCode = b.prodCode)
									            	  										join SC_BRAND c on(a.brandCode= c.brandCode)			
									            
									          <if test="paging.gender != '' or paging.category != '' or paging.keyword != '' or
									           ( paging.sizeArray != ''  and paging.sizeArray  != null )or  ( paging.colorArray != ''  and paging.colorArray  != null ) or ( paging.brandArray != ''  and paging.brandArray  != null )or paging.exSoldout == 1">
									          	
									          	
									             <where>  
												 	<trim prefix="(" suffix=")" suffixOverrides="AND">
													 	  <if test="paging.gender != '' ">
													 	  	<trim prefix="(" suffix=")AND" >	
													 	   		a.gender = #{paging.gender}
													 	  	</trim>
													 	  </if>
													 	 
													 
														 <if test="paging.category != '' ">		 
														 	<trim prefix="(" suffix=")AND" >
														 		a.category = #{paging.category} 	
														 	</trim>
														 </if>
														 
														 <if test="paging.keyword != '' ">
															<trim prefix="(" suffix=")AND" > 	 
															  a.prodCode LIKE '%'||#{paging.keyword}||'%' OR 
															  a.prodName LIKE '%'||#{paging.keyword}||'%' OR 
															  c.brandName LIKE '%'||#{paging.keyword}||'%' OR 
															  a.category LIKE '%'||#{paging.keyword}||'%' 
															 </trim> 
														 </if>
														
														  
													 	  <if test="paging.sizeArray != null and paging.sizeArray != ''">
														    <trim prefix="(" suffix=")AND" >
														        b.prodSize IN
														        <foreach item="size" index="index" collection="paging.sizeArray.split(',')" open="(" close=")" separator=",">
														            #{size}
														        </foreach>
														    </trim>
														</if>
														
														
														 <if test="paging.colorArray != null and paging.colorArray != ''">
															<trim prefix="(" suffix=")AND" >
																b.color IN	
															 	<foreach item="color" index="index" collection="paging.colorArray.split(',')" open="(" close=")" separator=",">
																	#{color}
																</foreach>
															</trim> 
														 </if>
														 
														 <if test="paging.brandArray != null and paging.brandArray != ''">
														 	<trim prefix="(" suffix=")AND" > 
															 	c.brandName IN
															 	<foreach item="brand" index="index" collection="paging.brandArray.split(',')" open="(" close=")" separator=",">
																	#{brand}
																</foreach>
															</trim>	
										             	</if>
										             	
										             	 
										            	 <!--sold out 추가  -->
								            			<if test="paging.exSoldout == 1">
								            				<![CDATA[ NOT b.prodCount <= 0   
								                			]]>
								                		</if>
										             	
										    		</trim>         		
									             
									             
									             </where> </if> ) 
								             
							             
							             
					            		
					            		<choose>
						            		<when test="paging.array == null || paging.array == 0">
						            			order by 1 desc <!-- 최신순  -->	
						            		
						            		
						            		</when>
						            		<otherwise>
						            			<if test="paging.array == 1">
						            				order by 3 asc, 1 asc <!--가격 낮은 순  -->	
						            			</if>
						            			
						            			<if test="paging.array == 2">
						            				order by 3 desc, 1 asc <!--가격 높은 순  -->	
						            			</if>
						            		</otherwise>
										</choose>            		
					            		 )a
					            			 <![CDATA[WHERE rowNum <= ( #{paging.pageNum} * #{paging.perPage}  )
					            		
					            				)b
					            				WHERE rn >= (( #{paging.pageNum} *  #{paging.perPage}  ) - ( #{paging.perPage}-1))			
					            		]]>
			  
			  
			  
			  
			 
	</select>

<!--2 rowTotal 페이징고려해야함  -->

 	<select id="selectRowTotal">
 			SELECT COUNT(*)  	 
					FROM (SELECT distinct prodCode, prodName
		             			FROM 
								             (SELECT  a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.material, a.country, 
								             		  b.prodSize,b.color, b.prodCount , rowNum AS rn from sc_products a JOIN sc_products_option b ON(a.prodCode = b.prodCode)
									            	  										join SC_BRAND c on(a.brandCode= c.brandCode)			
									            
									          <if test="paging.gender != '' or paging.category != '' or paging.keyword != '' or
									          ( paging.sizeArray != ''  and paging.sizeArray  != null ) or paging.colorArray != null or paging.brandArray != null or paging.exSoldout == 1">
									          
									              <where>  
												 	<trim prefix="(" suffix=")" suffixOverrides="AND">
													 	  <if test="paging.gender != '' ">
													 	  	<trim prefix="(" suffix=")AND" >	
													 	   		a.gender = #{paging.gender}
													 	  	</trim>
													 	  </if>
													 	 
													 
														 <if test="paging.category != '' ">		 
														 	<trim prefix="(" suffix=")AND" >
														 		a.category = #{paging.category} 	
														 	</trim>
														 </if>
														 
														 <if test="paging.keyword != '' ">
															<trim prefix="(" suffix=")AND" > 	 
															  a.prodCode LIKE '%'||#{paging.keyword}||'%' OR 
															  a.prodName LIKE '%'||#{paging.keyword}||'%' OR 
															  c.brandName LIKE '%'||#{paging.keyword}||'%' OR 
															  a.category LIKE '%'||#{paging.keyword}||'%' 
															 </trim> 
														 </if>
														
														  
														<if test="paging.sizeArray != null and paging.sizeArray != ''">
														    <trim prefix="(" suffix=")AND" >
														        b.prodSize IN
														        <foreach item="size" index="index" collection="paging.sizeArray.split(',')" open="(" close=")" separator=",">
														            #{size}
														        </foreach>
														    </trim>
														</if>
																										
														
														 <if test="paging.colorArray != null and paging.colorArray != ''">
															<trim prefix="(" suffix=")AND" >
																b.color IN	
															 	<foreach item="color" index="index" collection="paging.colorArray.split(',')" open="(" close=")" separator=",">
																	#{color}
																</foreach>
															</trim> 
														 </if>
														 
														<if test="paging.brandArray != null and paging.brandArray != ''">
														 	<trim prefix="(" suffix=")AND" > 
															 	c.brandName IN
															 	<foreach item="brand" index="index" collection="paging.brandArray.split(',')" open="(" close=")" separator=",">
																	#{brand}
																</foreach>
															</trim>	
										             	</if>
										             	
										             	
										             	<if test="paging.exSoldout == 1">
								            				<![CDATA[ NOT b.prodCount <= 0   
								                			]]>
								                		</if>
										             	
										    		</trim>         		
									             
									             
									             </where> </if> ) 
							                        		
					            		 )a
					            			
					            		
					            		 			
					            		 
					            					
 	
 	
												 
	</select>
 


<!--3번째 mapper range범위의 최솟값  -->
 


 
<select id="selectMinPrice">
		SELECT MIN(sellPrice)  FROM
			  (SELECT a.*, rowNum As rn   	 
					FROM (SELECT distinct prodCode, prodName, sellPrice 
		             			FROM 
								             (SELECT  a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.material, a.country, 
								             		   b.prodSize,b.color, b.prodCount from sc_products a JOIN sc_products_option b ON(a.prodCode = b.prodCode)
									            	  										join SC_BRAND c on(a.brandCode= c.brandCode)			
									            
									          <if test="paging.gender != '' or paging.category != '' or (paging.keyword !=null and
									          paging.sizeArray != null) or paging.colorArray != null or paging.brandArray != null or paging.exSoldout == 1">
									          
									             <where>  
												 	<trim prefix="(" suffix=")" suffixOverrides="AND">
													 	  <if test="paging.gender !=  '' ">
													 	  	<trim prefix="(" suffix=")AND" >	
													 	   		a.gender = #{paging.gender}
													 	  	</trim>
													 	  </if>
													 	 
													 
														 <if test="paging.category != '' ">		 
														 	<trim prefix="(" suffix=")AND" >
														 		a.category = #{paging.category} 	
														 	</trim>
														 </if>
														 
														 <if test="paging.keyword !=null">
															<trim prefix="(" suffix=")AND" > 	 
															  a.prodCode LIKE '%'||#{paging.keyword}||'%' OR 
															  a.prodName LIKE '%'||#{paging.keyword}||'%' OR 
															  c.brandName LIKE '%'||#{paging.keyword}||'%' OR 
															  a.category LIKE '%'||#{paging.keyword}||'%' 
															 </trim> 
														 </if>
														
														  
													 	    
													 	 <if test="paging.sizeArray != null and paging.sizeArray != ''">
														    <trim prefix="(" suffix=")AND" >
														        b.prodSize IN
														        <foreach item="size" index="index" collection="paging.sizeArray.split(',')" open="(" close=")" separator=",">
														            #{size}
														        </foreach>
														    </trim>
														</if>
														
														
														 <if test="paging.colorArray != null and paging.colorArray != ''">
															<trim prefix="(" suffix=")AND" >
																b.color IN	
															 	<foreach item="color" index="index" collection="paging.colorArray.split(',')" open="(" close=")" separator=",">
																	#{color}
																</foreach>
															</trim> 
														 </if>
														 
														<if test="paging.brandArray != null and paging.brandArray != ''">
														 	<trim prefix="(" suffix=")AND" > 
															 	c.brandName IN
															 	<foreach item="brand" index="index" collection="paging.brandArray.split(',')" open="(" close=")" separator=",">
																	#{brand}
																</foreach>
															</trim>	
										             	</if>
										             	
										             	<if test="paging.exSoldout == 1">
								            				<![CDATA[ NOT b.prodCount <= 0   
								                			]]>
								                		</if>
										             	
										             	
										             	
										    		</trim>         		
									             
									             
									             </where> </if> ) 
							             <choose>
						            		<when test="paging.array == null || paging.array == 0">
						            			order by 1 desc <!-- 최신순  -->	
						            		
						            		
						            		</when>
						            		<otherwise>
						            			<if test="paging.array == 1">
						            				order by 3 asc, 1 asc <!--가격 낮은 순  -->	
						            			</if>
						            			
						            			<if test="paging.array == 2">
						            				order by 3 desc, 1 asc <!--가격 높은 순  -->	
						            			</if>
						            		</otherwise>
										</choose>            		
				            		 )a
					            				)
					            				 			
					            		  
 
		 
	
	</select>


<!--4번째 mapper range범위의 최대값  -->
<select id="selectMaxPrice">
					SELECT MAX(sellPrice)  FROM
			  (SELECT a.*, rowNum As rn   	 
					FROM (SELECT distinct prodCode, prodName, sellPrice 
		             			FROM 
								             (SELECT  a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.material, a.country, 
								             		   b.prodSize,b.color from sc_products a JOIN sc_products_option b ON(a.prodCode = b.prodCode)
									            	  										join SC_BRAND c on(a.brandCode= c.brandCode)			
									            
									          <if test="paging.gender != '' or paging.category != '' or paging.keyword != '' or
									         ( paging.sizeArray != ''  and paging.sizeArray  != null ) or paging.colorArray != null or paging.brandArray != null or paging.exSoldout == 1">
									          
									              <where>  
												 	<trim prefix="(" suffix=")" suffixOverrides="AND">
													 	  <if test="paging.gender != '' ">
													 	  	<trim prefix="(" suffix=")AND" >	
													 	   		a.gender = #{paging.gender}
													 	  	</trim>
													 	  </if>
													 	 
													 
														 <if test="paging.category != '' ">		 
														 	<trim prefix="(" suffix=")AND" >
														 		a.category = #{paging.category} 	
														 	</trim>
														 </if>
														 
														 <if test="paging.keyword != '' ">
															<trim prefix="(" suffix=")AND" > 	 
															  a.prodCode LIKE '%'||#{paging.keyword}||'%' OR 
															  a.prodName LIKE '%'||#{paging.keyword}||'%' OR 
															  c.brandName LIKE '%'||#{paging.keyword}||'%' OR 
															  a.category LIKE '%'||#{paging.keyword}||'%' 
															 </trim> 
														 </if>
														
														  
													 	<!--   <if test="paging.sizeArray != null"> 수정중
													 	  	<trim prefix="(" suffix=")AND" >
																 <foreach item="size" collection="paging.sizeArray" open="(" close=")" separator="OR">
															 			b.prodSize = CAST (#{size} AS INTEGER) 
																 </foreach>
															 </trim>
														  </if> -->
														  
														    
													 	 <if test="paging.sizeArray != null and paging.sizeArray != ''">
														    <trim prefix="(" suffix=")AND" >
														        b.prodSize IN
														        <foreach item="size" index="index" collection="paging.sizeArray.split(',')" open="(" close=")" separator=",">
														            #{size}
														        </foreach>
														    </trim>
														</if>
														
														 <if test="paging.colorArray != null and paging.colorArray != ''">
															<trim prefix="(" suffix=")AND" >
																b.color IN	
															 	<foreach item="color" index="index" collection="paging.colorArray.split(',')" open="(" close=")" separator=",">
																	#{color}
																</foreach>
															</trim> 
														 </if>
														 
														<if test="paging.brandArray != null and paging.brandArray != ''">
														 	<trim prefix="(" suffix=")AND" > 
															 	c.brandName IN
															 	<foreach item="brand" index="index" collection="paging.brandArray.split(',')" open="(" close=")" separator=",">
																	#{brand}
																</foreach>
															</trim>	
										             	</if>
										             	
										             	<if test="paging.exSoldout == 1">
								            				<![CDATA[ NOT b.prodCount <= 0   
								                			]]>
								                		</if>
										             	
										    		</trim>         		
									             
									             
									             </where> </if> ) 
								             
							             <choose>
						            		<when test="paging.array == null || paging.array == 0">
						            			order by 1 desc <!-- 최신순  -->	
						            		
						            		
						            		</when>
						            		<otherwise>
						            			<if test="paging.array == 1">
						            				order by 3 asc, 1 asc <!--가격 낮은 순  -->	
						            			</if>
						            			
						            			<if test="paging.array == 2">
						            				order by 3 desc, 1 asc <!--가격 높은 순  -->	
						            			</if>
						            		</otherwise>
										</choose>            		
					            		 )a
					            				)			
									
									 
		 
	
	</select>
	
	<select id="selecTotalMaxPrice">
		SELECT MAX(sellPrice) FROM SC_products
	
	</select>
	
	


</mapper>
