<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCListMapper">

<!-- 230808 세연 / 배너 눌렀을때 리스트랑 사진 나오는것 (카테고리별 분류) -->
<!--  	<select id="selectCategoryList">
	SELECT a.prodCode, a.brandCode, a.prodName, a.gender, a.sellPrice, a.category, a.material, a.country,
	   	   b.prodUploadPath, b.prodFileType FROM SC_PRODUCTS a JOIN SC_PRODUCTS_ATTACHMENTS b ON (a.prodCode = b.prodCode) 
	   	   WHERE a.category = #{category}   
	</select>
 --> 

<!-- 성별에 따른 카테고리-->
<!-- 230810 아직 미완성: 카테고리, 검색어, 페이징 고려 mapper-->
<!-- 큰 카테고리의 브랜드 jsp는 따로 만듬-->
	<select id="selectCategoryList">
	Select * from SC_PRODUCTS a join SC_PRODUCTS_OPTION b on(a.prodCode  = b.prodCode) <!-- 사진 자료 생기면 쓰고 이거대신 옵션 테이블 --> 
								 join SC_BRAND c on(a.brandCode= c.brandCode)
	 <where>
	 
		 <if test="category != null">		 
		 	a.category = #{category} 	
		 </if>
		 
		 <if test="keyword !=null">
		 	 
			  a.prodCode LIKE '%'||#{keyword}||'%' OR 
			  <!-- brand가 나중에 join하게 되면 추가 brandName LIKE '%'||#{keyword}||'%' OR  -->
			  a.prodName LIKE '%'||#{keyword}||'%' OR 
			  c.brandName LIKE '%'||#{keyword}||'%' OR 
			  a.category LIKE '%'||#{keyword}||'%' 
			  
		 </if>
		
		  
	 	  <if test="sizeArray != null">
			 <foreach item="size" collection="sizeArray" open="(" close=")" separator="OR">
		 			a.prodSize = #{size} 
			 </foreach>
			 
		  </if>
		
		
		 <if test="colorArray != null ">
		 	<foreach item="color" collection="colorArray" open="(" close=")" separator="OR">
				a.color= #{color}
			</foreach>
		 </if>
		 
		 <if test="brandArray != null ">
		 	<foreach item="brand" collection="brandArray" open="(" close=")" separator="OR">
				a.brandName= #{brand}
			</foreach>
		 </if>
		    
	 </where>
		Order by 
		<choose>
		 <when test="arraykeyword == null">
		 1 DESC 
		
		
		</when>
		<otherwise>
		  # { arraykeyword} DESC 
		
		
		</otherwise>
		
		
		</choose>
	
	</select>

 	<select id="rowTotal">
	 SELECT COUNT(*) from SC_PRODUCTS a join SC_PRODUCTS_OPTION b on(a.prodCode  = b.prodCode)  
									 join SC_BRAND c on(a.brandCode= c.brandCode)
		 <where>
			 a.gender = #{gender}
			
			 <if test="category != null">		 
			 	a.category = #{category} 	
			 </if>
			 
			 <if test="keyword !=null">
				  a.prodCode LIKE '%'||#{keyword}||'%' OR 
				  a.prodName LIKE '%'||#{keyword}||'%' OR 
				  c.brandName LIKE '%'||#{keyword}||'%' OR 
				  a.category LIKE '%'||#{keyword}||'%' 
			 </if>
			
			
			  <if test="color != null">
				 a.color = #{color}  
				 
			  </if>
			
		 		  <if test="size != null ">
				a.prodSize = #{prodSize} 
			  </if>
			 
			 <if test="brand != null ">
				a.brandName= #{brandName}
			 </if>
			    
		 </where>
			Order by 
			<choose>
			 <when test="arraykeyword == null">
			 1 DESC 
			
			
			</when>
			<otherwise>
			  # { arraykeyword} DESC 
			
			
			</otherwise>
			
			
			</choose> 
	
	</select>
 
 






</mapper>
