<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCMemberMapper">

<!-- 230808 장유정_회원 등록 -->
   <insert id="memberJoin" parameterType="com.shoeco.shoeco.common.domain.SCMemberVO">
	INSERT INTO SC_USER
	VALUES(#{userId}, #{userPassword}, #{userEmail}, SYSDATE,
     	   #{userAddress}, #{userPhoneNo}, SYSDATE, 0, 'Bronze', #{userName}, #{userAddress2}, #{userAddress3})
  </insert>


	<!-- 2308121911 장유정_아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  		select count(*)
  		from SC_USER
  		where userId = #{userId}
  	</select>
  	
  	<!-- 2308161428 장유정_로그인 기능 -->
  	<select id="memberLogin" resultType="com.shoeco.shoeco.common.domain.SCMemberVO">
  		SELECT userId, userName, adminck, mileage, userRank
  		FROM SC_USER
  		WHERE userId = #{userId} AND userPassword = #{userPassword}
  	</select>


  <insert id="insertSCAuthoritys">
	INSERT INTO SC_USER_AUTHORITY
	VALUES('firstUser', 'ADMIN')
  </insert>

	
</mapper>