<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shoeco.shoeco.common.mapper.SCUsersMapper">

  <insert id="insertSCUser">
	INSERT INTO SC_USER
	VALUES('firstUser', 'firstUser', 'firstUser@naver.com', '19940920', 
     	   '구로구 구로동', '01012345678', DEFAULT, 0, '일반', '이동현')
  </insert>


  <insert id="insertSCAuthoritys">
	INSERT INTO SC_USER_AUTHORITY
	VALUES('firstUser', 'ADMIN')
  </insert>

	
</mapper>