<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoeco.shoeco.admin.mapper.SCAdminMapper">
 
<!-- 2309182109 장유정 -->
  
<!-- 상품 등록 -->
<insert id="shoesEnroll">
	insert into SC_PRODUCTS
</insert>
 
  
</mapper>
